n8n/workflows/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "12b46a98-be58-4d13-a55f-6e6fd8962770",
                    "leftValue": "={{ $json.isValid }}",
                    "rightValue": "listar",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Caso exitoso"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c2e7a391-728f-47aa-bca5-118b480cca5a",
                    "leftValue": "={{ $json.isValid }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Caso de error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -64,
        -624
      ],
      "id": "6091db18-00b5-4a5c-9690-ecd38328562a",
      "name": "Check Validity"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3b74fbf6-1892-4571-9dfe-adce270d9f8c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Crear evento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ea2484b8-31f2-4b12-b251-41a952937de8",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "modificar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Editar evento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ab3e074d-2ef5-4904-8c30-38b83bccb6e3",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Eliminar evento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ca3d483a-7dfd-48f5-8e82-15a855e2906e",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "checar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Consultar eventos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "03204602-fb43-4bed-94b9-ad5a1765df14",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "bienvenida",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "bienvenida"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2efdd538-2ae8-4ff6-9d83-1d51fa82cec0",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "ayuda",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ayuda"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        224,
        -736
      ],
      "id": "b08eb50a-4162-4d9f-888c-f458e235b824",
      "name": "Action Router"
    },
    {
      "parameters": {
        "chatId": "={{ $('Mensaje del usuario').item.json.message.chat.id }}",
        "text": "={{ $json.exists ? \"⚠️ Ocupado: \" + $json.foundEvent.summary : \"✅ Libre.\" }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        -368
      ],
      "id": "437e2cc6-c357-43c2-b0d5-47fe50a2d985",
      "name": "Send a text message3",
      "webhookId": "e2e1c624-1311-4d2a-8f95-7f91272bbdee",
      "credentials": {
        "telegramApi": {
          "id": "hGdgY472BxhGGWi7",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Mensaje del usuario').item.json.message.chat.id }}",
        "text": "=✅ Evento Modificado: {{ $json.updatedEvents[0].link }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        -768
      ],
      "id": "44af3efd-b16e-44e2-a0e6-837f63cc4567",
      "name": "Send a text message5",
      "webhookId": "98536582-1105-4149-9a17-c5147f24d263",
      "credentials": {
        "telegramApi": {
          "id": "hGdgY472BxhGGWi7",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Mensaje del usuario').item.json.message.chat.id }}",
        "text": "=🗑️ Evento Eliminado: {{ $json.eventLink }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        -576
      ],
      "id": "77d44917-2fff-4f53-845d-f41df9412c65",
      "name": "Send a text message6",
      "webhookId": "98536582-1105-4149-9a17-c5147f24d263",
      "credentials": {
        "telegramApi": {
          "id": "hGdgY472BxhGGWi7",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -928,
        -608
      ],
      "id": "82a06a26-adfa-4c71-89fd-724f88cdfdbd",
      "name": "Mensaje del usuario",
      "webhookId": "d03751f7-9d80-4ba3-8024-8fa2c725f177",
      "credentials": {
        "telegramApi": {
          "id": "hGdgY472BxhGGWi7",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://google-auth-server-ds--telegram-bot-ac92a.us-central1.hosted.app/api/user-exists?firebaseUid={{ $json.message.chat.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -688,
        -608
      ],
      "id": "71a3a88a-de3a-4541-b6c7-c6e8a5db677e",
      "name": "Verificar en BD status de autenticacion",
      "credentials": {
        "httpHeaderAuth": {
          "id": "gw3BYlZGE3u2X5zw",
          "name": "GoogleCalendarAPIKey"
        }
      }
    },
    {
      "parameters": {
        "content": "Si el usuario no esta autenticado, se debe de autenticar y la siguiente vez que mande mensaje ya estara autenticado sin la necesidad de caer en este flujo de nuevo"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        -208
      ],
      "id": "38be55f7-455e-46be-99ae-f0040245b9a3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "=https://google-auth-server-ds--telegram-bot-ac92a.us-central1.hosted.app/auth/initiate-google-calendar-auth?telegramUserId={{ $('Mensaje del usuario').item.json.message.chat.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -480,
        -384
      ],
      "id": "00b38a7f-0d16-4326-b298-f1af5b83628d",
      "name": "Autenticar usuario",
      "credentials": {
        "httpHeaderAuth": {
          "id": "gw3BYlZGE3u2X5zw",
          "name": "GoogleCalendarAPIKey"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Mensaje del usuario').item.json.message.chat.id }}",
        "text": "Por favor inicia sesión en tu cuenta de Google y acepta los permisos.",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Iniciar sesión",
                    "additionalFields": {
                      "url": "={{ $json.login_url }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -272,
        -384
      ],
      "id": "fc4b0d19-400b-43ed-964e-d9f84643d855",
      "name": "Send a text message",
      "webhookId": "d62f4c99-4e71-4316-9eba-9f27368b5c2f",
      "credentials": {
        "telegramApi": {
          "id": "hGdgY472BxhGGWi7",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://google-auth-server-ds--telegram-bot-ac92a.us-central1.hosted.app/api/create-calendar-event",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        -976
      ],
      "id": "a5e2cc58-63d6-4166-aa32-d3040f2dffa5",
      "name": "Crear evento en calendario",
      "credentials": {
        "httpHeaderAuth": {
          "id": "gw3BYlZGE3u2X5zw",
          "name": "GoogleCalendarAPIKey"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ada035ac-9082-40c8-972b-24e8e0a2c6a6",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        -608
      ],
      "id": "2fa0178d-edef-42e0-88a0-0fde38252f4a",
      "name": "autenticado?"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://google-auth-server-ds--telegram-bot-ac92a.us-central1.hosted.app/api/update-calendar-event",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        -768
      ],
      "id": "74353ca9-7ccc-4060-af8e-e37a6325ac21",
      "name": "Editar evento",
      "credentials": {
        "httpHeaderAuth": {
          "id": "gw3BYlZGE3u2X5zw",
          "name": "GoogleCalendarAPIKey"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://google-auth-server-ds--telegram-bot-ac92a.us-central1.hosted.app/api/delete-calendar-event",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        -576
      ],
      "id": "d3a2372f-c1ef-4f91-9405-66c24dfe2295",
      "name": "Eliminar evento",
      "credentials": {
        "httpHeaderAuth": {
          "id": "gw3BYlZGE3u2X5zw",
          "name": "GoogleCalendarAPIKey"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://google-auth-server-ds--telegram-bot-ac92a.us-central1.hosted.app/api/list-events-by-time",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "firebaseUid",
              "value": "={{ $json.payload.firebaseUid }}"
            },
            {
              "name": "timeMin",
              "value": "={{ $json.payload.timeMin }}"
            },
            {
              "name": "timeMax",
              "value": "={{ $json.payload.timeMax }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        -368
      ],
      "id": "25fcd7d8-b671-4877-bc5e-ca0cc742af3c",
      "name": "Mostrar eventos",
      "credentials": {
        "httpHeaderAuth": {
          "id": "gw3BYlZGE3u2X5zw",
          "name": "GoogleCalendarAPIKey"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Mensaje del usuario').item.json.message.chat.id }}",
        "text": "=✅ Evento Creado: {{ $json.eventLink }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        -976
      ],
      "id": "95ef5334-32ab-4845-9081-f99674de09e1",
      "name": "Mensaje de creacion exitosa",
      "webhookId": "98536582-1105-4149-9a17-c5147f24d263",
      "credentials": {
        "telegramApi": {
          "id": "hGdgY472BxhGGWi7",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Mensaje del usuario').item.json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        144,
        -336
      ],
      "id": "3d903bf2-def2-4159-a449-e0542c9e1ae1",
      "name": "Enviar mensaje de error",
      "webhookId": "43d94a43-ff05-404c-892d-b908dbfedf33",
      "credentials": {
        "telegramApi": {
          "id": "hGdgY472BxhGGWi7",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Mensaje del usuario').item.json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        -144
      ],
      "id": "ff116803-c532-4488-83bc-89533ac9d7a6",
      "name": "Mensaje de bienvenida",
      "webhookId": "e560c001-80d0-4c17-b8da-8e003a1bedbd",
      "credentials": {
        "telegramApi": {
          "id": "hGdgY472BxhGGWi7",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Mensaje del usuario').item.json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        48
      ],
      "id": "0d2f7519-be85-4692-9fe1-478bcce2f531",
      "name": "Mensaje de ayuda",
      "webhookId": "e560c001-80d0-4c17-b8da-8e003a1bedbd",
      "credentials": {
        "telegramApi": {
          "id": "hGdgY472BxhGGWi7",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * ---------------------------------------------------------\n * CONFIGURACIÓN\n * ---------------------------------------------------------\n */\nconst DEFAULT_TIMEZONE = \"America/Mexico_City\";\n\n/**\n * ---------------------------------------------------------\n * UTILIDAD: PARSER FLEXIBLE (Soporta con/sin \"de\")\n * ---------------------------------------------------------\n */\nfunction parseSpanishDate(text) {\n    const months = {\n        'enero': 0, 'febrero': 1, 'marzo': 2, 'abril': 3, 'mayo': 4, 'junio': 5,\n        'julio': 6, 'agosto': 7, 'septiembre': 8, 'octubre': 9, 'noviembre': 10, 'diciembre': 11\n    };\n    \n    const pad = (n) => n < 10 ? '0' + n : n;\n    const lowerText = text.toLowerCase().trim();\n    const now = new Date(); \n    \n    // Configuración Timezone México\n    const offsetMexico = -6 * 60; \n    const nowMexico = new Date(now.getTime() + (offsetMexico * 60 * 1000));\n\n    let year, monthIdx, day, hour, minute;\n    let yearExplicitlyProvided = false;\n\n    // --- HELPER: Regex Super Flexible para Hora ---\n    const extractTime = (str, defaultHour) => {\n        // Busca hora tipo: 2:00pm, 2pm, 14:00, 9 am\n        const timeRegex = /(\\d{1,2})(?:[:\\.](\\d{2}))?\\s*([ap]\\.?m\\.?)?/i;\n        const match = str.match(timeRegex);\n        \n        let h = defaultHour; \n        let m = 0;\n        \n        if (match) {\n            h = parseInt(match[1]);\n            m = match[2] ? parseInt(match[2]) : 0;\n            const ampm = match[3] ? match[3].replace(/\\./g, '').toLowerCase() : null;\n            \n            if (ampm === 'pm' && h < 12) h += 12;\n            if (ampm === 'am' && h === 12) h = 0;\n        }\n        return { h, m };\n    };\n\n    // A. DETECCIÓN DE FECHA RELATIVA (HOY / MAÑANA)\n    if (lowerText.includes('mañana') || lowerText.includes('hoy')) {\n        const baseDate = new Date(nowMexico);\n        if (lowerText.includes('mañana')) baseDate.setDate(baseDate.getDate() + 1);\n\n        year = baseDate.getUTCFullYear();\n        monthIdx = baseDate.getUTCMonth();\n        day = baseDate.getUTCDate();\n\n        let defaultH = 9;\n        if (lowerText.includes('hoy') && !lowerText.match(/\\d/)) {\n            defaultH = nowMexico.getUTCHours() + 1;\n        }\n        \n        const timeObj = extractTime(lowerText, defaultH);\n        hour = timeObj.h;\n        minute = timeObj.m;\n\n    } else {\n        // B. DETECCIÓN DE FECHA ESPECÍFICA (MEJORADA)\n        // Explicación Regex:\n        // 1. (\\d{1,2}) -> Día\n        // 2. (?:\\s+de\\s+|\\s+) -> Acepta \" de \" O solo espacio\n        // 3. ([a-záé...]+) -> Mes\n        // 4. (?:\\s+(?:del?|de)?\\s*(\\d{4}))? -> Acepta \" del 2025\", \" de 2025\" o \" 2025\"\n        const dateRegex = /(\\d{1,2})(?:\\s+de\\s+|\\s+)([a-záéíóú]+)(?:\\s+(?:del?|de)?\\s*(\\d{4}))?/i;\n        const match = lowerText.match(dateRegex);\n\n        if (!match) {\n            // Fallback ISO\n            const isoDate = new Date(text);\n            if (!isNaN(isoDate.getTime())) {\n                return isoDate.toISOString().split('.')[0] + \"-06:00\";\n            }\n            return null; \n        }\n\n        day = parseInt(match[1]);\n        const monthName = match[2];\n        \n        if (months[monthName] === undefined) return null;\n        monthIdx = months[monthName];\n\n        if (match[3]) {\n            year = parseInt(match[3]);\n            yearExplicitlyProvided = true;\n        } else {\n            year = nowMexico.getUTCFullYear();\n        }\n\n        // Buscamos la hora en el resto del texto\n        const textWithoutDate = lowerText.replace(match[0], '');\n        const timeObj = extractTime(textWithoutDate, 9);\n        hour = timeObj.h;\n        minute = timeObj.m;\n    }\n\n    // --- CONSTRUCCIÓN ISO MANUAL ---\n    let isoString = `${year}-${pad(monthIdx + 1)}-${pad(day)}T${pad(hour)}:${pad(minute)}:00-06:00`;\n    let parsedDate = new Date(isoString);\n\n    if (!yearExplicitlyProvided && parsedDate < now) {\n        const isSameDay = parsedDate.getDate() === now.getDate() && parsedDate.getMonth() === now.getMonth();\n        if (!isSameDay) {\n            year += 1;\n            isoString = `${year}-${pad(monthIdx + 1)}-${pad(day)}T${pad(hour)}:${pad(minute)}:00-06:00`;\n        }\n    }\n\n    return isoString;\n}\n\n/**\n * ---------------------------------------------------------\n * ESTRATEGIAS\n * ---------------------------------------------------------\n */\nclass CommandStrategy {\n    validate(args) { return { isValid: false, message: \"Error interno\" }; }\n    buildPayload(args, uid) { return {}; }\n    \n    // Helper compartido para sumar 1 hora seguro en MX\n    addOneHourSafe(isoDateString) {\n        const date = new Date(isoDateString);\n        date.setHours(date.getHours() + 1);\n        const options = { \n            timeZone: \"America/Mexico_City\", \n            year: 'numeric', month: '2-digit', day: '2-digit', \n            hour: '2-digit', minute: '2-digit', second: '2-digit', \n            hour12: false \n        };\n        const formatter = new Intl.DateTimeFormat('en-CA', options); \n        const parts = formatter.formatToParts(date);\n        const getPart = (type) => parts.find(p => p.type === type).value;\n        return `${getPart('year')}-${getPart('month')}-${getPart('day')}T${getPart('hour')}:${getPart('minute')}:${getPart('second')}-06:00`;\n    }\n}\n\n// 0. BIENVENIDA\nclass WelcomeStrategy extends CommandStrategy {\n    validate(args) { return { isValid: true }; }\n    buildPayload(args, uid) {\n        return {\n            message: \"👋 ¡Hola! Soy tu asistente de calendario.\\n\\n⚡ **Comando Rápido:**\\n`/agendar Título | Fecha Inicio`\\n_(Se creará un evento de 1 hora automáticamente)_\\n\\nComandos disponibles:\\n📅 `/agendar` - Crear eventos\\n🔍 `/modificar` - Cambiar horario\\n🗑️ `/cancelar` - Borrar eventos\\n🗓️ `/checar` - Ver agenda\\n\\nEscribe `/help` para ver todos los detalles.\",\n            action: 'bienvenida' \n        };\n    }\n}\n\n// AYUDA\nclass HelpStrategy extends CommandStrategy {\n    validate(args) { return { isValid: true }; }\n    buildPayload(args, uid) {\n        return {\n            message: \"📘 **CENTRO DE AYUDA Y COMANDOS**\\n\\n\" +\n                     \"📅 **1. AGENDAR EVENTOS**\\n\" +\n                     \"Tienes dos formas de crear eventos:\\n\" +\n                     \"🔹 **Rápida (1 hora automática):**\\n\" +\n                     \"`/agendar Título | Fecha Inicio`\\n\" +\n                     \"Ej: `/agendar Gym | hoy a las 18:00`\\n\\n\" +\n                     \"🔹 **Completa (Inicio y Fin):**\\n\" +\n                     \"`/agendar Título | Inicio | Fin`\\n\" +\n                     \"Ej: `/agendar Reunión | mañana 9am | mañana 10:30am`\\n\\n\" +\n                     \"--------------------------------\\n\\n\" +\n                     \"🔍 **2. MODIFICAR EVENTOS**\\n\" +\n                     \"Busca por título y cambia el horario:\\n\" +\n                     \"🔹 **Rápida (Mover a nueva hora):**\\n\" +\n                     \"`/modificar Título | Nueva Inicio`\\n\" +\n                     \"Ej: `/modificar Gym | hoy 19:00`\\n\\n\" +\n                     \"🔹 **Completa (Cambiar todo):**\\n\" +\n                     \"`/modificar Título | Inicio | Fin`\\n\\n\" +\n                     \"--------------------------------\\n\\n\" +\n                     \"✨ **3. OPCIONES EXTRAS**\\n\" +\n                     \"Al Agendar o Modificar, agrega detalles al final con `|`:\\n\" +\n                     \"📝 `| Descripción: nota del evento`\\n\" +\n                     \"📍 `| Ubicación: lugar o link`\\n\" +\n                     \"👥 `| Asistentes: correo1@gmail.com, correo2@hotmail.com`\\n\\n\" +\n                     \"💡 *Ejemplo Pro:*\\n\" +\n                     \"`/agendar Cita Dr | viernes 16:00 | Ubicación: Clinica | Descripción: Llevar estudios`\\n\\n\" +\n                     \"--------------------------------\\n\\n\" +\n                     \"🗓️ **4. CONSULTAR AGENDA (NUEVO)**\\n\" +\n                     \"Puedes ver tu agenda por día o por rango:\\n\" +\n                     \"• `/checar hoy`\\n\" +\n                     \"• `/checar mañana`\\n\" +\n                     \"• `/checar 1 semana` (Próximos 7 días)\\n\" +\n                     \"• `/checar 15 dias`\\n\" +\n                     \"• `/checar 1 mes`\\n\\n\" +\n                     \"--------------------------------\\n\\n\" +\n                     \"🗑️ **5. CANCELAR**\\n\" +\n                     \"`/cancelar Título Exacto`\",\n            action: 'ayuda'\n        };\n    }\n}\n\n// 1. CREAR (Agendar)\nclass CreateStrategy extends CommandStrategy {\n    parseEventArgs(args) {\n        const parts = args.split('|').map(s => s.trim());\n        if (parts.length < 2) return { isValid: false, message: \"❌ **Faltan datos.**\\nUsa: `/agendar Título | Fecha Inicio`\" };\n\n        const summary = parts[0];\n        const startDateStr = parts[1];\n        if (!summary) return { isValid: false, message: \"❌ El título no puede estar vacío.\" };\n\n        const parsedStartDate = parseSpanishDate(startDateStr);\n        if (!parsedStartDate) return { isValid: false, message: `❌ No entendí la fecha de inicio: \"${startDateStr}\".` };\n\n        let parsedEndDate = null;\n        let optionalParamsStartIndex = 2;\n\n        if (parts.length > 2) {\n            const possibleEndDateStr = parts[2];\n            const possibleEndDate = parseSpanishDate(possibleEndDateStr);\n            if (possibleEndDate) {\n                parsedEndDate = possibleEndDate;\n                optionalParamsStartIndex = 3;\n            } \n        }\n\n        if (!parsedEndDate) parsedEndDate = this.addOneHourSafe(parsedStartDate);\n        if (new Date(parsedStartDate) >= new Date(parsedEndDate)) return { isValid: false, message: \"❌ La fecha de inicio debe ser anterior a la de fin.\" };\n\n        let description, location;\n        const attendees = [];\n\n        for (let i = optionalParamsStartIndex; i < parts.length; i++) {\n            const part = parts[i];\n            const lowerPart = part.toLowerCase();\n            if (lowerPart.startsWith('descripción:')) description = part.substring('descripción:'.length).trim();\n            else if (lowerPart.startsWith('ubicación:')) location = part.substring('ubicación:'.length).trim();\n            else if (lowerPart.startsWith('asistentes:')) {\n                const emailsStr = part.substring('asistentes:'.length).trim();\n                emailsStr.split(',').forEach(email => {\n                    const trimmedEmail = email.trim();\n                    if (trimmedEmail) attendees.push({ email: trimmedEmail });\n                });\n            }\n        }\n\n        return { isValid: true, summary, parsedStartDate, parsedEndDate, description: description || undefined, location: location || undefined, attendees: attendees.length > 0 ? attendees : undefined };\n    }\n    validate(args) { return this.parseEventArgs(args); }\n    buildPayload(args, uid, validationResult) {\n        const data = validationResult;\n        const eventDetails = {\n            summary: data.summary,\n            description: data.description || \"Creado desde Telegram\",\n            start: { dateTime: data.parsedStartDate, timeZone: DEFAULT_TIMEZONE },\n            end: { dateTime: data.parsedEndDate, timeZone: DEFAULT_TIMEZONE }\n        };\n        if (data.location) eventDetails.location = data.location;\n        if (data.attendees) eventDetails.attendees = data.attendees;\n        return { firebaseUid: uid, eventDetails: eventDetails };\n    }\n}\n\n// 2. MODIFICAR\nclass UpdateStrategy extends CommandStrategy {\n    validate(args) {\n        const parts = args.split('|').map(s => s.trim());\n        if (parts.length < 2) return { isValid: false, message: \"❌ **Faltan datos.**\\nUsa: `/modificar Título | Nueva Inicio`\" };\n        \n        const searchTitle = parts[0];\n        const startDateStr = parts[1];\n        if (!searchTitle) return { isValid: false, message: \"❌ Falta el título.\" };\n\n        const parsedStartDate = parseSpanishDate(startDateStr);\n        if (!parsedStartDate) return { isValid: false, message: \"❌ Nueva fecha de inicio inválida.\" };\n\n        let parsedEndDate = null;\n        let optionalParamsStartIndex = 2;\n\n        if (parts.length > 2) {\n            const possibleEndDateStr = parts[2];\n            const possibleEndDate = parseSpanishDate(possibleEndDateStr);\n            if (possibleEndDate) {\n                parsedEndDate = possibleEndDate;\n                optionalParamsStartIndex = 3;\n            } \n        }\n\n        if (!parsedEndDate) parsedEndDate = this.addOneHourSafe(parsedStartDate);\n        if (new Date(parsedStartDate) >= new Date(parsedEndDate)) return { isValid: false, message: \"❌ Inicio debe ser antes del fin.\" };\n\n        let description, location;\n        const attendees = [];\n        for (let i = optionalParamsStartIndex; i < parts.length; i++) {\n            const part = parts[i];\n            const lowerPart = part.toLowerCase();\n            if (lowerPart.startsWith('descripción:')) description = part.substring('descripción:'.length).trim();\n            else if (lowerPart.startsWith('ubicación:')) location = part.substring('ubicación:'.length).trim();\n            else if (lowerPart.startsWith('asistentes:')) {\n                const emailsStr = part.substring('asistentes:'.length).trim();\n                emailsStr.split(',').forEach(email => {\n                    const trimmedEmail = email.trim();\n                    if (trimmedEmail) attendees.push({ email: trimmedEmail });\n                });\n            }\n        }\n\n        return { isValid: true, parsedStartDate, parsedEndDate, searchTitle, description, location, attendees: attendees.length > 0 ? attendees : undefined };\n    }\n    buildPayload(args, uid, validationResult) {\n        const data = validationResult;\n        const eventDetails = {\n            start: { dateTime: data.parsedStartDate, timeZone: DEFAULT_TIMEZONE },\n            end: { dateTime: data.parsedEndDate, timeZone: DEFAULT_TIMEZONE }\n        };\n        if (data.description) eventDetails.description = data.description;\n        if (data.location) eventDetails.location = data.location;\n        if (data.attendees) eventDetails.attendees = data.attendees;\n        return { firebaseUid: uid, searchTitle: data.searchTitle, eventDetails: eventDetails };\n    }\n}\n\n// 3. BORRAR\nclass DeleteStrategy extends CommandStrategy {\n    validate(args) {\n        if (!args.trim()) return { isValid: false, message: \"❌ **Falta el título.**\\nUsa: `/cancelar Título del Evento`\" };\n        return { isValid: true };\n    }\n    buildPayload(args, uid) {\n        return { firebaseUid: uid, searchTitle: args.trim() };\n    }\n}\n\n// 4. CONSULTAR (ACTUALIZADO: Rango flexible)\nclass CheckStrategy extends CommandStrategy {\n    \n    // Helper para formatear ISO con timezone manual\n    formatISO(dateObj) {\n        const pad = (n) => n < 10 ? '0' + n : n;\n        // Ajustamos la fecha a Timezone MX manualmente (-6)\n        // Nota: Como estamos manipulando 'dateObj' que ya puede venir ajustado,\n        // usamos métodos UTC si la construimos manualmente o Intl.\n        const options = { timeZone: \"America/Mexico_City\", year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false };\n        const formatter = new Intl.DateTimeFormat('en-CA', options);\n        const parts = formatter.formatToParts(dateObj);\n        const getPart = (type) => parts.find(p => p.type === type).value;\n        return `${getPart('year')}-${getPart('month')}-${getPart('day')}T${getPart('hour')}:${getPart('minute')}:${getPart('second')}-06:00`;\n    }\n\n    validate(args) {\n        const text = args.trim().toLowerCase();\n        if (!text) return { isValid: false, message: \"❌ **Falta el rango.**\\nEj: `/checar hoy`, `/checar 1 semana`, `/checar 3 dias`\" };\n        \n        const now = new Date();\n        let timeMin, timeMax;\n\n        // 1. DETECCIÓN DE RANGO: \"1 semana\", \"2 dias\"\n        // Regex: Numero + espacio + (dia/dias/semana/semanas)\n        const rangeRegex = /^(\\d+)\\s*(dias?|semanas?|mes(?:es)?)$/i;\n        const match = text.match(rangeRegex);\n\n        if (match) {\n            const quantity = parseInt(match[1]);\n            const unit = match[2];\n            \n            // timeMin es AHORA\n            timeMin = this.formatISO(now);\n            \n            // Calculamos timeMax\n            const endDate = new Date(now);\n            if (unit.startsWith('dia')) {\n                endDate.setDate(endDate.getDate() + quantity);\n            } else if (unit.startsWith('semana')) {\n                endDate.setDate(endDate.getDate() + (quantity * 7));\n            } else if (unit.startsWith('mes')) {\n                endDate.setMonth(endDate.getMonth() + quantity);\n            }\n            timeMax = this.formatISO(endDate);\n\n            return { isValid: true, timeMin, timeMax };\n        }\n\n        // 2. DETECCIÓN DE FECHA ESPECÍFICA (Lógica antigua \"Hoy/Mañana/Fecha\")\n        const parsedDateStr = parseSpanishDate(text);\n        if (parsedDateStr) {\n            // Si es fecha específica, mostramos ESE DÍA completo (00:00 a 23:59)\n            const baseDateString = parsedDateStr.substring(0, 10);\n            return { \n                isValid: true, \n                timeMin: `${baseDateString}T00:00:00-06:00`,\n                timeMax: `${baseDateString}T23:59:59-06:00`\n            };\n        }\n\n        return { isValid: false, message: \"❌ No entendí el rango o fecha.\\nIntenta: `/checar 1 semana` o `/checar hoy`\" };\n    }\n\n    buildPayload(args, uid, validationResult) {\n        return {\n            firebaseUid: uid,\n            timeMin: validationResult.timeMin,\n            timeMax: validationResult.timeMax\n        };\n    }\n}\n\n// --- FACTORY & PARSER ---\nclass CommandContext {\n    constructor(msg) {\n        this.rawText = (msg.text || \"\").trim();\n        this.chatId = msg.chat.id;\n        this.firebaseUid = String(msg.chat.id); \n    }\n    parse() {\n        const lower = this.rawText.toLowerCase();\n        if (lower === '/help' || lower.includes('ayuda')) return { action: 'help', args: '' };\n        if (['hola', 'inicio', 'start'].some(w => lower.includes(w)) || lower === '/start') return { action: 'welcome', args: '' };\n        if (this.rawText.startsWith('/')) {\n            const clean = this.rawText.substring(1);\n            const firstSpace = clean.indexOf(' ');\n            const action = firstSpace === -1 ? clean : clean.substring(0, firstSpace);\n            const args = firstSpace === -1 ? \"\" : clean.substring(firstSpace + 1);\n            return { action: action.toLowerCase(), args };\n        }\n        return { action: 'unknown', args: '' };\n    }\n}\n\nfunction getStrategy(action) {\n    switch (action) {\n        case 'welcome': return new WelcomeStrategy();\n        case 'help': return new HelpStrategy();\n        case 'agendar': return new CreateStrategy();\n        case 'modificar': return new UpdateStrategy();\n        case 'cancelar': return new DeleteStrategy();\n        case 'checar': case 'listar': return new CheckStrategy(); // Soporta ambos\n        default: return null;\n    }\n}\n\n// --- MAIN ---\nlet msg;\ntry { msg = $('Mensaje del usuario').item.json.message; } \ncatch (e) { msg = $input.item.json.message; }\n\nconst context = new CommandContext(msg);\nconst { action, args } = context.parse();\nconst strategy = getStrategy(action);\nlet result = { action, isValid: false, message: \"\", payload: {} };\n\nif (strategy) {\n    const validation = strategy.validate(args);\n    if (validation.isValid) {\n        result.isValid = true;\n        if (action === 'welcome' || action === 'help') {\n            const strategyResult = strategy.buildPayload(args, context.firebaseUid);\n            result.message = strategyResult.message;\n            result.action = strategyResult.action; \n            result.payload = {};\n        } else {\n            result.message = \"Procesando...\";\n            result.payload = strategy.buildPayload(args, context.firebaseUid, validation);\n        }\n    } else {\n        result.message = validation.message;\n        if (!result.message.includes('/help')) result.message += \"\\n\\nEscribe `/help` para ver los formatos.\";\n    }\n} else {\n    result.message = \"⚠️ No entendí tu comando. Escribe `/help` para ayuda.\";\n}\nreturn { json: result };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -624
      ],
      "id": "bda905c8-b166-4b8f-9b25-8996982ccfd2",
      "name": "Main code"
    }
  ],
  "pinData": {},
  "connections": {
    "Check Validity": {
      "main": [
        [
          {
            "node": "Action Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar mensaje de error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Router": {
      "main": [
        [
          {
            "node": "Crear evento en calendario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Editar evento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Eliminar evento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mostrar eventos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje de bienvenida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje de ayuda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje del usuario": {
      "main": [
        [
          {
            "node": "Verificar en BD status de autenticacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar en BD status de autenticacion": {
      "main": [
        [
          {
            "node": "autenticado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autenticar usuario": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Crear evento en calendario": {
      "main": [
        [
          {
            "node": "Mensaje de creacion exitosa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "autenticado?": {
      "main": [
        [
          {
            "node": "Main code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Autenticar usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editar evento": {
      "main": [
        [
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar evento": {
      "main": [
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mostrar eventos": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main code": {
      "main": [
        [
          {
            "node": "Check Validity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dbe46ee5-b00b-4a03-ab6f-70f348c69683",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a1c4193a6eacb441ccaff1e0e015ac007735606336443a264d194e1a5e50543f"
  },
  "id": "8anUnosShuJSMO33",
  "tags": []
}