n8n/workflows/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "12b46a98-be58-4d13-a55f-6e6fd8962770",
                    "leftValue": "={{ $json.isValid }}",
                    "rightValue": "listar",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c2e7a391-728f-47aa-bca5-118b480cca5a",
                    "leftValue": "={{ $json.isValid }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -16,
        -592
      ],
      "id": "6091db18-00b5-4a5c-9690-ecd38328562a",
      "name": "Check Validity"
    },
    {
      "parameters": {
        "chatId": "={{ $('Mensaje del usuario').item.json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -32,
        -224
      ],
      "id": "3d903bf2-def2-4159-a449-e0542c9e1ae1",
      "name": "Send a text message1",
      "webhookId": "43d94a43-ff05-404c-892d-b908dbfedf33",
      "credentials": {
        "telegramApi": {
          "id": "hGdgY472BxhGGWi7",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3b74fbf6-1892-4571-9dfe-adce270d9f8c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ea2484b8-31f2-4b12-b251-41a952937de8",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "modificar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ab3e074d-2ef5-4904-8c30-38b83bccb6e3",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ca3d483a-7dfd-48f5-8e82-15a855e2906e",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "listar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "03204602-fb43-4bed-94b9-ad5a1765df14",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "start",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        224,
        -736
      ],
      "id": "b08eb50a-4162-4d9f-888c-f458e235b824",
      "name": "Action Router"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://google-auth-server-ds--telegram-bot-ac92a.us-central1.hosted.app/api/create-calendar-event",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        -976
      ],
      "id": "a5e2cc58-63d6-4166-aa32-d3040f2dffa5",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "gw3BYlZGE3u2X5zw",
          "name": "GoogleCalendarAPIKey"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://google-auth-server-ds--telegram-bot-ac92a.us-central1.hosted.app/api/update-calendar-event",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        -768
      ],
      "id": "74353ca9-7ccc-4060-af8e-e37a6325ac21",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "gw3BYlZGE3u2X5zw",
          "name": "GoogleCalendarAPIKey"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://google-auth-server-ds--telegram-bot-ac92a.us-central1.hosted.app/api/delete-calendar-event",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        -576
      ],
      "id": "d3a2372f-c1ef-4f91-9405-66c24dfe2295",
      "name": "HTTP Request3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "gw3BYlZGE3u2X5zw",
          "name": "GoogleCalendarAPIKey"
        }
      }
    },
    {
      "parameters": {
        "url": "https://google-auth-server-ds--telegram-bot-ac92a.us-central1.hosted.app/api/check-event-at-time",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        -368
      ],
      "id": "25fcd7d8-b671-4877-bc5e-ca0cc742af3c",
      "name": "HTTP Request4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "gw3BYlZGE3u2X5zw",
          "name": "GoogleCalendarAPIKey"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Mensaje del usuario').item.json.message.chat.id }}",
        "text": "=✅ Evento Creado: {{ $json.eventLink }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        -976
      ],
      "id": "95ef5334-32ab-4845-9081-f99674de09e1",
      "name": "Send a text message2",
      "webhookId": "98536582-1105-4149-9a17-c5147f24d263",
      "credentials": {
        "telegramApi": {
          "id": "hGdgY472BxhGGWi7",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Mensaje del usuario').item.json.message.chat.id }}",
        "text": "={{ $json.exists ? \"⚠️ Ocupado: \" + $json.foundEvent.summary : \"✅ Libre.\" }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        -368
      ],
      "id": "437e2cc6-c357-43c2-b0d5-47fe50a2d985",
      "name": "Send a text message3",
      "webhookId": "e2e1c624-1311-4d2a-8f95-7f91272bbdee",
      "credentials": {
        "telegramApi": {
          "id": "hGdgY472BxhGGWi7",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * ---------------------------------------------------------\n * CONFIGURACIÓN\n * ---------------------------------------------------------\n */\nconst DEFAULT_TIMEZONE = \"America/Mexico_City\"; \n\n/**\n * ---------------------------------------------------------\n * UTILIDAD: PARSER DE FECHAS EN ESPAÑOL\n * Convierte \"16 de septiembre a las 13:30\" -> Date Object\n * ---------------------------------------------------------\n */\nfunction parseSpanishDate(text) {\n    const months = {\n        'enero': 0, 'febrero': 1, 'marzo': 2, 'abril': 3, 'mayo': 4, 'junio': 5,\n        'julio': 6, 'agosto': 7, 'septiembre': 8, 'octubre': 9, 'noviembre': 10, 'diciembre': 11\n    };\n\n    const currentYear = new Date().getFullYear();\n    const lowerText = text.toLowerCase();\n\n    // Regex para: \"16 de septiembre\" ó \"16 de septiembre del 2025\"\n    // Captura: Dia, Mes, Año (Opcional), Hora (Opcional)\n    // Ej: \"16 de septiembre a las 13:30\"\n    const regex = /(\\d{1,2})\\s+de\\s+([a-záéíóú]+)(?:\\s+del?\\s+(\\d{4}))?(?:\\s+a\\s+las\\s+(\\d{1,2})(?::(\\d{2}))?)?/i;\n    const match = lowerText.match(regex);\n\n    if (match) {\n        const day = parseInt(match[1]);\n        const monthName = match[2];\n        const year = match[3] ? parseInt(match[3]) : currentYear;\n        const hour = match[4] ? parseInt(match[4]) : 9; // Si no pone hora, default 9am\n        const minute = match[5] ? parseInt(match[5]) : 0;\n\n        if (months[monthName] !== undefined) {\n            const date = new Date(year, months[monthName], day, hour, minute);\n            // Ajustamos a ISO String\n            return date.toISOString().split('.')[0] + \"-06:00\"; // Ajuste manual offset México\n        }\n    }\n    \n    // Si no es fecha en español, intentamos formato ISO estándar por si acaso\n    const isoDate = new Date(text);\n    if (!isNaN(isoDate.getTime())) {\n        return isoDate.toISOString().split('.')[0] + \"-06:00\";\n    }\n\n    return null;\n}\n\n/**\n * ---------------------------------------------------------\n * ESTRATEGIAS (Lógica de Negocio)\n * ---------------------------------------------------------\n */\nclass CommandStrategy {\n    validate(args) { return { isValid: false, message: \"Error interno\" }; }\n    buildPayload(args, uid) { return {}; }\n}\n\n// 0. BIENVENIDA\nclass WelcomeStrategy extends CommandStrategy {\n    validate(args) { return { isValid: true }; }\n    buildPayload(args, uid) { return {}; }\n}\n\n// 1. CREAR (Agendar con fecha natural)\nclass CreateStrategy extends CommandStrategy {\n    validate(args) {\n        // Acepta: \"Dentista | 16 de septiembre a las 13:30\"\n        const parts = args.split('|');\n        if (parts.length < 2) {\n            return { \n                isValid: false, \n                message: \"❌ **Falta información.**\\n\\nIntenta así (en español):\\n`/agendar Título | Día de Mes a las Hora:Min`\\n\\nEjemplo:\\n`/agendar Cita Dentista | 16 de septiembre a las 13:30`\" \n            };\n        }\n        \n        const dateStr = parts[1].trim();\n        const parsedDate = parseSpanishDate(dateStr);\n\n        if (!parsedDate) {\n            return { isValid: false, message: \"❌ **No entendí la fecha.**\\n\\nAsegúrate de escribir bien el mes (ej: '16 de septiembre').\" };\n        }\n\n        return { isValid: true, parsedDate: parsedDate }; // Pasamos la fecha ya limpia\n    }\n\n    buildPayload(args, uid, validationResult) {\n        const parts = args.split('|');\n        const summary = parts[0].trim();\n        const startDate = new Date(validationResult.parsedDate); // Usamos la fecha que ya limpiamos\n        const endDate = new Date(startDate.getTime() + 60 * 60000); // +1 hora\n\n        return {\n            firebaseUid: uid,\n            eventDetails: {\n                summary: summary,\n                description: \"Creado desde Telegram\",\n                start: { dateTime: startDate.toISOString(), timeZone: DEFAULT_TIMEZONE },\n                end: { dateTime: endDate.toISOString(), timeZone: DEFAULT_TIMEZONE }\n            }\n        };\n    }\n}\n\n// 2. MODIFICAR (Por Título en vez de ID)\nclass UpdateStrategy extends CommandStrategy {\n    validate(args) {\n        // Ahora acepta: \"Dentista | Nueva fecha\"\n        // OJO: Asumimos que buscaremos por nombre\n        const parts = args.split('|');\n        if (parts.length < 2) {\n            return { isValid: false, message: \"❌ **Faltan datos.**\\n\\nUsa: `/modificar Título Exacto | Nueva Fecha`\" };\n        }\n        \n        const dateStr = parts[1].trim();\n        const parsedDate = parseSpanishDate(dateStr);\n        if (!parsedDate) return { isValid: false, message: \"❌ Fecha inválida.\" };\n\n        return { isValid: true, parsedDate: parsedDate };\n    }\n\n    buildPayload(args, uid, validationResult) {\n        const parts = args.split('|');\n        // MANDAMOS \"searchTitle\" en lugar de \"eventId\" \n        // (Tu amigo tendrá que adaptar su API para buscar por nombre o tú hacer un paso previo)\n        return {\n            firebaseUid: uid,\n            searchTitle: parts[0].trim(), // <--- CAMBIO IMPORTANTE\n            eventDetails: {\n                start: { dateTime: validationResult.parsedDate, timeZone: DEFAULT_TIMEZONE }\n            }\n        };\n    }\n}\n\n// 3. BORRAR (Por Título en vez de ID)\nclass DeleteStrategy extends CommandStrategy {\n    validate(args) {\n        if (!args.trim()) return { isValid: false, message: \"❌ **Falta el nombre.**\\n\\nUsa: `/cancelar Título del Evento`\\nEj: `/cancelar Dentista`\" };\n        return { isValid: true };\n    }\n\n    buildPayload(args, uid) {\n        // Mandamos el título para que el backend busque y borre\n        return {\n            firebaseUid: uid,\n            searchTitle: args.trim() // <--- CAMBIO IMPORTANTE\n        };\n    }\n}\n\n// 4. CHECAR (Solo por día)\nclass CheckStrategy extends CommandStrategy {\n    validate(args) {\n        // Acepta: \"16 de septiembre\" (sin hora)\n        if (!args.trim()) return { isValid: false, message: \"❌ **Falta la fecha.**\\n\\nEj: `/checar 16 de septiembre`\" };\n        \n        const parsedDate = parseSpanishDate(args.trim());\n        if (!parsedDate) return { isValid: false, message: \"❌ No entendí la fecha.\" };\n\n        return { isValid: true, parsedDate: parsedDate };\n    }\n\n    buildPayload(args, uid, validationResult) {\n        // Al checar, enviamos la fecha con hora 00:00 o la que detecte\n        return {\n            firebaseUid: uid,\n            queryTime: validationResult.parsedDate,\n            durationMinutes: 60\n        };\n    }\n}\n\n// --- FACTORY & PARSER ---\nclass CommandContext {\n    constructor(msg) {\n        this.rawText = (msg.text || \"\").trim();\n        this.chatId = msg.chat.id;\n        this.firebaseUid = `telegram-${this.chatId}`; \n    }\n\n    parse() {\n        const lower = this.rawText.toLowerCase();\n        \n        // Saludos\n        if (['hola', 'inicio', 'start', 'ayuda'].some(w => lower.includes(w)) || lower === '/start') {\n            return { action: 'start', args: '' };\n        }\n\n        // Comandos\n        if (this.rawText.startsWith('/')) {\n            const clean = this.rawText.substring(1);\n            const firstSpace = clean.indexOf(' ');\n            const action = firstSpace === -1 ? clean : clean.substring(0, firstSpace);\n            const args = firstSpace === -1 ? \"\" : clean.substring(firstSpace + 1);\n            return { action: action.toLowerCase(), args };\n        }\n        return { action: 'unknown', args: '' };\n    }\n}\n\nfunction getStrategy(action) {\n    switch (action) {\n        case 'start': return new WelcomeStrategy();\n        case 'agendar': return new CreateStrategy();\n        case 'modificar': return new UpdateStrategy();\n        case 'cancelar': return new DeleteStrategy();\n        case 'checar': return new CheckStrategy(); // Antes listar\n        default: return null;\n    }\n}\n\n// --- MAIN ---\nlet msg;\ntry { msg = $('Mensaje del usuario').item.json.message; } \ncatch (e) { msg = $input.item.json.message; }\n\nconst context = new CommandContext(msg);\nconst { action, args } = context.parse();\nconst strategy = getStrategy(action);\n\nlet result = { action, isValid: false, message: \"\", payload: {} };\n\nif (action === 'start') {\n    result.isValid = true;\n    result.message = \"👋 **¡Hola!**\\n\\nPuedes escribirme naturalmente:\\n\\n📅 `/agendar Cita Dentista | 16 de septiembre a las 10:00`\\n🔍 `/checar 16 de septiembre`\\n🗑️ `/cancelar Cita Dentista`\";\n    return { json: result };\n}\n\nif (strategy) {\n    const validation = strategy.validate(args);\n    if (validation.isValid) {\n        result.isValid = true;\n        result.message = \"Procesando...\";\n        // Pasamos el resultado de la validación (fecha limpia) al payload\n        result.payload = strategy.buildPayload(args, context.firebaseUid, validation);\n    } else {\n        result.message = validation.message;\n    }\n} else {\n    result.message = \"⚠️ No entendí. Intenta: `/agendar Título | Fecha`\";\n}\n\nreturn { json: result };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        -592
      ],
      "id": "bda905c8-b166-4b8f-9b25-8996982ccfd2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "={{ $('Mensaje del usuario').item.json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        -144
      ],
      "id": "ff116803-c532-4488-83bc-89533ac9d7a6",
      "name": "Send a text message4",
      "webhookId": "e560c001-80d0-4c17-b8da-8e003a1bedbd",
      "credentials": {
        "telegramApi": {
          "id": "hGdgY472BxhGGWi7",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Mensaje del usuario').item.json.message.chat.id }}",
        "text": "=✅ Evento Modificado: {{ $json.eventLink }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        -768
      ],
      "id": "44af3efd-b16e-44e2-a0e6-837f63cc4567",
      "name": "Send a text message5",
      "webhookId": "98536582-1105-4149-9a17-c5147f24d263",
      "credentials": {
        "telegramApi": {
          "id": "hGdgY472BxhGGWi7",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Mensaje del usuario').item.json.message.chat.id }}",
        "text": "=🗑️ Evento Eliminado: {{ $json.eventLink }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        -576
      ],
      "id": "77d44917-2fff-4f53-845d-f41df9412c65",
      "name": "Send a text message6",
      "webhookId": "98536582-1105-4149-9a17-c5147f24d263",
      "credentials": {
        "telegramApi": {
          "id": "hGdgY472BxhGGWi7",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Mensaje del usuario').item.json.message.chat.id }}",
        "text": "=Aqui esta tu link para iniciar sesion en google:",
        "replyMarkup": "=inlineKeyboard",
        "forceReply": {},
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Iniciar sesión",
                    "additionalFields": {
                      "url": "={{ $json[\"login_url\"] }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -224,
        -848
      ],
      "id": "af8c7ee4-61e0-4656-adc5-3eca3fc68f96",
      "name": "Send a text message7",
      "webhookId": "f987d3f8-3b0b-4f92-8a49-9037c579ec2c",
      "credentials": {
        "telegramApi": {
          "id": "hGdgY472BxhGGWi7",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -928,
        -608
      ],
      "id": "82a06a26-adfa-4c71-89fd-724f88cdfdbd",
      "name": "Mensaje del usuario",
      "webhookId": "d03751f7-9d80-4ba3-8024-8fa2c725f177",
      "credentials": {
        "telegramApi": {
          "id": "hGdgY472BxhGGWi7",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://google-auth-server-ds--telegram-bot-ac92a.us-central1.hosted.app/auth/initiate-google-calendar-auth?telegramUserId={{ $json.message.chat.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -688,
        -608
      ],
      "id": "71a3a88a-de3a-4541-b6c7-c6e8a5db677e",
      "name": "Verificar en BD status de autenticacion",
      "credentials": {
        "httpHeaderAuth": {
          "id": "gw3BYlZGE3u2X5zw",
          "name": "GoogleCalendarAPIKey"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ada035ac-9082-40c8-972b-24e8e0a2c6a6",
              "leftValue": "={{ $json.authenticated }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        -608
      ],
      "id": "2fa0178d-edef-42e0-88a0-0fde38252f4a",
      "name": "If authenticated"
    },
    {
      "parameters": {
        "content": "Hace falta modificar el flujo de si no esta autenticado"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -544,
        -944
      ],
      "id": "38be55f7-455e-46be-99ae-f0040245b9a3",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Check Validity": {
      "main": [
        [
          {
            "node": "Action Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Router": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Check Validity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje del usuario": {
      "main": [
        [
          {
            "node": "Verificar en BD status de autenticacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar en BD status de autenticacion": {
      "main": [
        [
          {
            "node": "If authenticated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If authenticated": {
      "main": [
        [
          {
            "node": "Send a text message7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "88305bb8-3ca0-4cbe-bb72-b4dec434c12e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a1c4193a6eacb441ccaff1e0e015ac007735606336443a264d194e1a5e50543f"
  },
  "id": "8anUnosShuJSMO33",
  "tags": []
}